<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">
	<title>danddscreenwriting</title>
	<link rel="stylesheet" href="../main.css">

</head>
<body>
	<center>

	<center>
			<header>
			<center><h1>PRE-PRODUCTION</h1></center>
		</header>
	</center>
	
			<a class="rooms" href="../index.html" title="home">home</a>
			<a class="rooms" href="../partials/pro.html" title="production">production</a>
			<a class="rooms" href="../partials/post.html" title="post-production">post-production</a>
			<a class="rooms" href="../partials/dist.html" title="distribution">distribution</a>

	<div id="underHeader">
		<p><h1>welcome to danddscreenwriting</h1></p>
	</div>



<div class="grid-container">


	<div class="container"><img class="grid-image" src="../images/images%20%281%29.jpeg" alt="text">  <div class="overlay">
    <div class="text">wordswordswordswords</div>
  </div></div>

	
  
	<div class="container"><img class="grid-image" src="../images/images%20%282%29.jpeg" alt="text">  <div class="overlay">
    <div class="text">wordswordswordswords</div>
  </div></div>
  

	<div class="container"><img class="grid-image" src="../images/images.jpeg" alt="text">  <div class="overlay">
    <div class="text">wordswordswordswords</div>
  </div></div>
  
</div>


</center>

<footer id="footer">
			<div style="text-align: center; margin-top: 3px">
		     Copyright 2018 Me&#0153.  All Rights Reserved.
		</div>
</footer>

</body>
</html>

